@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}


.swiper-pagination {
  display: flex !important;
  width: 100%;
  justify-items: center !important;
  width: 100% !important;
  height: 15px;
  position: absolute;
  z-index: 150 !important;
  bottom: 195px;
  display: flex !important;
  width: 100% !important;
  justify-content: center;

  @media (width<=768px) {
    bottom: 127px;
    z-index: 130;
  }
}

.swiper-pagination-bullet {
  height: 8px;
  width: 8px;
  display: flex !important;
  background-color: #D9D9D9;
  margin-inline: 10px;
  border-radius: 70px;
  cursor: pointer !important;

}

.swiper-pagination-bullet-active {
  height: 12px;
  width: 12px;
  display: flex !important;
  background-color: #005fb0;
  margin-inline: 10px;
  border-radius: 70px;
  cursor: pointer !important;
}

.swiper {
  margin: 0px !important;
  height: 700px !important;

  @media (width <=768px) {
    height: 350px !important;
  }
}

.swiper-slider {
  width: 100% !important;
  position: relative !important;

}

.swiper-slide-active {
  width: 100% !important;
}

.sliderImg::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #FFF;
}

.svg-spinners--180-ring-with-bg {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23005fae' d='M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z' opacity='0.3'/%3E%3Cpath fill='%23005fae' d='M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z'%3E%3CanimateTransform attributeName='transform' dur='0.75s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/path%3E%3C/svg%3E");
}

.cropper-container {
  min-height: 220px !important;

  @media (width <=768px) {
    min-height: 150px !important;
    max-height: 150px !important;
  }
}